extends layout

block content
  script.
    var userData = !{JSON.stringify(data)}
  #container
    header
      //span= data.userStatus ? "Jot away, " + data.userGivenName : "Please log in"
      h1.thetitle= data.hdrtitle
      div#drop-menu-opener.drop-menu
        span#user-name= data.userGivenName
        ul.sub-menu
          li
            a#helpOpener.topic &nbsp;&nbsp;&loz;&nbsp;&nbsp;Using Thought Jot
          //li
          //  a#importJots.topic(title='Import JSON jots') &nbsp;&nbsp;&loz;&nbsp;&nbsp;Import
          li
            a#deleteJots.topic &nbsp;&nbsp;&loz;&nbsp;&nbsp;Delete selected jots
          li
            a.topic(href="./logout") &nbsp;&nbsp;&loz;&nbsp;&nbsp;Logout
    form(type='post', onsubmit='tj.addJot(); return false;')
      div#jot_composer.jot(contentEditable='true')
      #rightcontrols
        #rightcontrols_header
          span#rctls_hdr_text
            | Tag&nbsp;Selector
            span#space &nbsp;
            | Filter&nbsp;Options
        #filterby_div
          input#filter_by_date(type='checkbox', onclick='tj.toggleDateFilter(); return true;', value='filter')
          | By Date Range
          br
          #filter_date_div.display_none
            input#startdate(type='text', onclick='tj.raiseCalendar(this.id); return false;', placeholder='start date', maxlength='12', title='Click for a calendar, or enter manually as mm/dd/yyyy.')
            br
            input#enddate(type='text', onclick='tj.raiseCalendar(this.id); return false;', placeholder='end date', maxlength='12', title='Click for a calendar, or enter manually as mm/dd/yyyy')
            br
          input#filter_by_tags(type='checkbox', onclick='tj.toggleTagFilter(); return true;', value='filter')
          | By Tags
          br
          #filter_tag_div.display_none
            input#filter_by_tags_or(type='radio', name='tagfilter', value='filter', title='Use the Tag Selector to choose the filter tags.')
            |               Any Selected Tag
            br
            input#filter_by_tags_and(type='radio', name='tagfilter', value='filter', title='Use the Tag Selector to choose the filter tags.')
            |               All Selected Tags
            br
        #tagselector_div
          select#tagselector(multiple='')
        #filterbtn_div
          input#applyfilters_btn(type='button', onclick='tj.showFilteredJots()', value='Filter', title='Apply the filter options.')
        input#stagetags_btn(type='button', onclick='tagMgr.stageTags(); return false;', value='Stage', title='Move selected tags to the Tags field below for attaching to the current jot.')
        input#mergetags_btn(type='button', onclick='tagMgr.mergeStagedTags(); return false;', value='Merge', title="Add or remove tags from the selector list above.\nTags preceeded with '-' (minus) will be removed.")
      .jotaddbtn
        input.addjot_img(type='button', value='', onclick='tj.addJot(); return false;' title='Add this jot')
        | &nbsp;&nbsp;&nbsp;Title&nbsp;
        input#add_titleinput(type='text', placeholder='untitled', maxlength='200')
        | &nbsp;&nbsp;&nbsp;Tags&nbsp;
        input#add_tagsinput(type='text', placeholder='none', maxlength='200', title='Separate tags with commas')
    #jotcontrols
      input#toggleOrder(type='button', onclick='tj.toggleOrdering(); return false;', title='Press to show oldest jots first.')
      span#statusarea Status
      input#checkall(type='checkbox', title='Select or deselect all visible jots.')
      span#paginator
        a#prevPageLink.paginationLinks(onclick = 'tj.prevPage(); return false;') prev
        span#prevPostfix &nbsp;&nbsp;
        span Page&nbsp;
        span#currentPageNumber n
        span &nbsp;of&nbsp;
        span#pagesTotal m
        span &nbsp;&nbsp;
        a#nextPageLink.paginationLinks(onclick = 'tj.nextPage(); return false;') next
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jots per page
        input#jotsPerPage(type='text', maxlength='3')
    #jotItems
      // Each jot gets its own div inside the jotItems div.
  // end container div

  // Get the help dialog content, which shows only when user clicks the USER menu 'Using Thought Jot' item
  include ./includes/help-content.jade
