doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/tj.css')
    link(rel='stylesheet', href='/stylesheets/dropmenu.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    //script(src='http://nimbusbase.com/static/nimbus.min.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='/javascripts/tjdb.js')

